/*-------------------Layout settings Auqa starts-------------------*/
@media (min-width: 768px) {
  .container {
    width: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


/*-------------------Layout settings Auqa ends-------------------*/

/*-------------------Typography Auqa starts-------------------*/

@media (max-width: 767px) {
  .page-header {
    font-size: 2.8rem;
    text-align: center;
    margin: 20px 0 2rem;
  }

  .page-header span {
    line-height: 3.2rem;
  }

  .h3,
  h3 {
    font-size: 2.2rem;
  }
}

/*-------------------Typography Auqa ends-------------------*/

/*-------------------Header Auqa starts-------------------*/

@media (max-width: 767px) {

  body.mbase-child-theme header#navbar,
  .navbar-brand {
    min-height: 40px;
    height: 40px;
  }

  header#navbar .name.navbar-brand,
  .navbar .logo {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  header#navbar .navbar-toggle {
    border: none;
    background-color: rgba(255, 255, 255, .1);
    margin-top: 4px;
    margin-bottom: 3px;
  }

  header#navbar .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .2);
  }

  .navbar-brand {
    padding: 8px;
  }

  /* drozas: Reduced in responsive view */
  header#navbar a.logo img {
    height: 22px;
  }

  header#navbar .navbar-header {
    margin-top: 0px;
    float: none;
  }

  header#navbar #navigation {
    margin-bottom: 0px;
  }

  header#navbar nav {
    opacity: 1 !important;
    margin-top: 0px;
  }

  header#navbar .navbar-nav>li>a {
    border-right: none;
    padding: 10px;
  }

  header#navbar .dropdown-menu>li>a,
  header#navbar .dropdown-menu>li>a:hover,
  header#navbar .dropdown-menu>li>a.active,
  header#navbar #navigation ul>li .active {
    padding: 10px;
  }

  .header-aqua-slider h1 {
    margin-top: 50px;
    font-size: 1.8em;
    width: 70%;
    line-height: 3.2rem;
    font-weight: 400;
  }

  .header-aqua-slider div.desc {
    font-weight: lighter;
    font-size: 0.8em;
    margin-bottom: 5px;
    display: none;
  }

  .header-aqua-slider .buttons a.btn-lg {
    padding: 5px 10px;
    font-size: 0.7em;
  }

  .header-aqua-slider .carousel-caption {
    bottom: auto;
    top: 40px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .header-aqua-slider .carousel-indicators {
    bottom: auto;
    top: 60px;
    right: 10px;
    left: auto;
  }

  body.mbase-child-theme.navbar-is-default.path-frontpage header#navbar {
    clear: both;
    float: left;
    width: 100%;
  }

  body.front.navbar-is-default .header-aqua-slider .carousel-caption,
  body.front.navbar-is-fixed-top .header-aqua-slider .carousel-caption,
  body.front.navbar-is-static-top .header-aqua-slider .carousel-caption {
    top: 15px;
  }

  body.front.navbar-is-default .header-aqua-slider .carousel-indicators,
  body.front.navbar-is-fixed-top .header-aqua-slider .carousel-indicators,
  body.front.navbar-is-static-top .header-aqua-slider .carousel-indicators {
    top: 35px;
  }

  .header-aqua-slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
  }

  .header-aqua-slider .carousel-indicators li.active span {
    margin-top: 0px;
    margin-left: 0px;
  }

  body.front.navbar-is-fixed-top .header-aqua-slider,
  body.front.navbar-is-static-top .header-aqua-slider {
    padding-top: 70px;
  }

  body.navbar-is-fixed-top {
    padding-top: 45px !important;
  }

  body.front.navbar-is-default header#navbar {
    margin-bottom: 0px;
  }

  body.front.navbar-is-default .region-header-aqua {
    padding-top: 0px;
  }

  header#navbar .navbar-scrolled .navbar-nav>.open>a,
  header#navbar .navbar-scrolled.navbar-nav>.active>a {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus {
    border-color: none;
  }

  .breadcrumb {
    background-color: transparent !important;
    padding: 8px 0;
  }

  .breadcrumb li {
    display: none;
  }

  .breadcrumb li:nth-last-child(2) {
    display: inline;
  }

  .breadcrumb li:nth-last-child(2):before {
    content: "‹";
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  header#navbar .navbar-header {
    margin-top: 0px;
    float: none;
  }

  header#navbar .navbar-nav>li {
    text-align: center;
    width: 100%;
  }

   header#navbar .navbar-nav>li a {
     border-right: none;
     padding: 10px;
   }

  .navbar-toggle {
    display: inline-block;
    position: relative;
    padding: 12px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, .1);
    background-image: none;
    border: 1px solid transparent;
  }

  .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, .2);
  }

  .navbar-collapse.collapse {
    display: none !important;
    background: #0F3766;
  }
  
  body.mbase-child-theme header#navbar .nav,
  body.mbase-child-theme header#navbar .nav>li {
    background: #0F3766;
        width: 100vw;
    top: -7px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }


  a.navbar-brand.name {
    display: none;
  }

  .header-aqua-slider h1 {
    margin-top: 0px;
    font-size: 2.4em;
    margin-bottom: 10px;
  }

  .header-aqua-slider div.desc {
    font-weight: lighter;
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  .header-aqua-slider .carousel-indicators {
    top: 110px;
    right: 15px;
  }

  .header-aqua-slider .carousel-caption {
    bottom: auto;
    width: 90%;
    left: 5%;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .navbar-collapse:before {
    display: table;
    content: " ";
  }

  .navbar-collapse:after {
    clear: both;
  }
}


@media (min-width: 991px) and (max-width: 1199px) {
  .header-aqua-slider h1 {
    margin-top: 0px;
    font-size: 2.4em;
    margin-bottom: 10px;
  }

  .header-aqua-slider div.desc {
    font-size: 1.3em;
  }

  .header-aqua-slider .carousel-indicators {
    top: 110px;
    right: 15px;
    left: auto;
  }

  .header-aqua-slider .carousel-caption {
    bottom: auto;
    width: 90%;
    left: 5%;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}

/*--------------------Header Auqa ends--------------------*/

/*-------------------footer Ice-------------------*/

@media (max-width: 767px) {
  .footer-message .col-xs-12 {
    float: left;
    width: 33%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .footer-message .col-xs-12:nth-child(3n+1) {
    clear: both;
  }

  .footer-message .col-xs-12 .img-thumbnail {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 70px;
  }

  .xs-force-menu-vr ul.menu,
  .xs-force-menu-vr ul.menu li {
    display: block !important;
  }

  .xs-force-menu-vr h2.block-title:after {
    content: '';
  }

  .xs-force-menu-vr ul.menu li {
    padding: 0;
  }

  .xs-force-menu-vr ul.menu li:after {
    content: '';
  }

  #block-homepagebuttons {
    display: none;
  }
}

@media (max-width: 1024px) {

  /* Welcome home block */
  .block-homepagewelcomeblock {
    display: none;
  }

  .footer-message .col-xs-12 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  section.col-sm-9 {
    width: 70%;
  }

  aside.col-sm-3 {
    width: 30%;
  }
}

@media (max-width: 767px) {

  .view-id-cecan_associates .col-sm-4,
  .view-id-cecan_fellows_std .col-sm-4,
  .view-id-cecan_members_profiles .col-sm-4 {
    width: 50%;
    float: left;
  }

  .carousel-welcome-slider .views-row {
    max-height: 500px;
    min-height: 300px;
    height: 70vh;
  }

  .carousel-welcome-slider .views-row img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .view-id-case_studies .col-sm-4 {
    float: left;
    width: 50%;
    padding-right: 8px;
  }
  .node--type-cecan-member-profile article h2 {
    text-align: center;
  }
  .node--type-cecan-member-profile .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .node--type-cecan-member-profile .col-md-6 {
    order: 2;
    width: 100%;
  }

  .node--type-cecan-member-profile .col-md-4 {
    order: 1;
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin: 20px 0;
  }

  .nav-tabs>li {
    width: 30%;
  }

  .content-boxed .col-md-3 {
    width: 100%;
  }
}

@media (max-width: 1024px) {

  .view-id-cecan_associates .col-sm-4,
  .view-id-cecan_fellows_std .col-sm-4,
  .view-id-cecan_members_profiles .col-sm-4 {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 50px;
  }

  .view-id-cecan_associates .col-sm-4 #profile-thumbnail-name,
  .view-id-cecan_fellows_std .col-sm-4 #profile-thumbnail-name,
  .view-id-cecan_members_profiles .col-sm-4 #profile-thumbnail-name {
    bottom: 100%;
  }

  .view-id-cecan_associates .col-sm-4 h4,
  .view-id-cecan_fellows_std .col-sm-4 h4,
  .view-id-cecan_members_profiles .col-sm-4 h4 {
    font-size: 15px;
  }

  #block-twitter-2,
  #twitter-widget-0 {
    display: none !important;
  }

  .node--type-news .col-md-3>h3,
  .node--type-news .col-md-3>a {
    text-align: center;
    display: block;
    margin: 0 1rem 1rem;
  }

  body.mbase-child-theme.navbar-is-fixed-top .navbar-collapse {
        text-align: center;
        width: 100vw;
        top: -6px;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      float: none;
  }

  header#navbar nav {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  #navbar .nav .dropdown>.dropdown-menu {
    t display: block;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
  }
  
}
